<div class="d-flex flex-column mx-4 py-4 align-items-center">
    <div class="section-title px-4 text-center flex-column fs-5">
        <span class="fs-4 fw-bold">Habilidades</span>
        <hr class="w-25 text-primary opacity-100" style="margin: 0 auto; height: 0.1rem;"/>
    </div>
    <div class="section-content w-100 mb-0 mt-4">
        <div class="container">
            <div class="row">
              <div class="col flex-grow-0 m-auto">
                <i class="skill-icon html5-icon" placement="top" ngbTooltip="HTML 5"></i>
                <!-- <fa-icon [icon]="['fab', 'html5']" class="fs-1" style="color: orange;"></fa-icon> -->
              </div>
              <div class="col flex-grow-0 m-auto">
                <i class="skill-icon css3-icon" placement="top" ngbTooltip="CSS"></i>
              </div>
              <div class="col flex-grow-0 m-auto">
                <i class="skill-icon js-icon" placement="top" ngbTooltip="JavaScript"></i>
              </div>
              <div class="col flex-grow-0 m-auto">
                <i class="skill-icon java-icon" placement="top" ngbTooltip="Java"></i>
              </div>
              <div class="col flex-grow-0 m-auto">
                <i class="skill-icon python-icon" placement="top" ngbTooltip="Python"></i>
              </div>
            </div>
            <div class="row">
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon mysql-icon" placement="top" ngbTooltip="MySQL"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon postgres-icon" placement="top" ngbTooltip="PostgresSQL"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon php-icon" placement="top" ngbTooltip="PHP"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon angular-icon" placement="top" ngbTooltip="AngularJS"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon node-icon" placement="top" ngbTooltip="NodeJS"></i>
                </div>
              </div>
              <div class="row">
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon office-icon" placement="top" ngbTooltip="Microsoft Office"></i>
                </div>
              </div>
              <div class="row">
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon fellowship-icon" placement="top" ngbTooltip="Compañerismo"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon co-working-icon" placement="top" ngbTooltip="Trabajo en equipo"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon communication-icon" placement="top" ngbTooltip="Comunicación"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon compromise-icon" placement="top" ngbTooltip="Compromiso"></i>
                </div>
                <div class="col flex-grow-0 m-auto">
                  <i class="skill-icon ideas-icon" placement="top" ngbTooltip="Ideas"></i>
                </div>
              </div>
          </div>
    </div>
</div>