<!-- <router-outlet></router-outlet> -->

<!-- App Header -->
<app-header></app-header>

<!-- App Banner -->
<app-banner></app-banner>

<!-- App Profile -->
<app-profile  id="about-section"></app-profile>

<!-- App About -->
<app-about></app-about>

<!-- App Experience -->
<hr id="experience-section" class="m-auto my-4 w-75 text-primary">
<app-experience></app-experience>

<!-- App Education -->
<hr id="education-section" class="m-auto my-4 w-75 text-primary">
<app-education></app-education>

<!-- App Skills -->
<hr id="skills-section" class="m-auto my-4 w-75 text-primary">
<app-skills></app-skills>

<!-- App Projects -->
<hr id="projects-section" class="m-auto my-4 w-75 text-primary">
<app-projects></app-projects>

<div class="d-flex flex-column bg-dark align-items-center text-light py-4">
    <a href="#top-page" class="text-light text-decoration-none">
        <fa-icon [icon]="['fas', 'circle-arrow-up']" class="mb-3 fs-2"></fa-icon>
    </a>
    <span class="fs-6 fw-normal">
        <a href="https://creativecommons.org/licenses/by/3.0/deed.es" target="_blank" class="text-light text-decoration-none">Licencia Creative Commons CC 3.0</a>
    </span>
</div>