<div class="d-flex flex-column mx-4 py-4 align-items-center">
    <div class="section-title px-4 text-center flex-column fs-5">
        <span class="fs-4 fw-bold">Educación</span>
        <hr class="w-25 text-primary opacity-100" style="margin: 0 auto; height: 0.1rem;"/>
    </div>
    <div class="section-content w-100 my-4">
        <div class="d-flex flex-row">
            <div class="mx-2 mt-2 fw-bold fs-4">2016</div>
            <div class="d-flex flex-column align-items-center">
                <fa-icon [icon]="['fas', 'location-dot']" class="fs-4 rounded-circle py-2 px-3 bg-primary text-light"></fa-icon>
                <div class="vr m-auto h-100 text-primary opacity-100" style="width: 0.25rem;"></div>
            </div>
            <div class="flex-grow-1 mx-3 mb-4 border rounded p-2 bg-light text-center">
                <div class="fs-5 fw-bold">Analista Programador Universitario</div>
                <div class="fs-6 text-muted">Universidad Nacional de la Patagónia San Juan Bosco</div>
                <div class="fs-6 text-muted">2004 - 2016</div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="mx-2 mt-2 fw-bold fs-4">2003</div>
            <div class="d-flex flex-column align-items-center">
                <fa-icon [icon]="['fas', 'location-dot']" class="fs-4 rounded-circle py-2 px-3 bg-primary text-light"></fa-icon>
                <div class="vr m-auto h-100 text-primary opacity-100" style="width: 0.25rem;"></div>
            </div>
            <div class="flex-grow-1 mx-3 mb-4 border rounded p-2 bg-light text-center">
                <div class="fs-5 fw-bold">Economía y Gestión de las Organizaciones</div>
                <div class="fs-6 text-muted">Colegio Provincial N° 770</div>
                <div class="fs-6 text-muted">1997 - 2003</div>
            </div>
        </div>
    </div>
</div>