<ul id="social-box" class="fs-4 p-0">
    <li>
        <a href="https://www.instagram.com/hectorrggg" target="_blank" class="text-white mx-1">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a href="https://www.facebook.com/hector.ComRiv" target="_blank" class="text-white mx-1">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
        <a href="https://github.com/hgalarze" target="_blank" class="text-white mx-1">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
    </li>
</ul>