<div class="d-flex flex-column mx-4 py-4 align-items-center">
    <div class="section-title px-4 text-center flex-column fs-5">
        <span class="fs-4 fw-bold">Proyectos</span>
        <hr class="w-25 text-primary opacity-100" style="margin: 0 auto; height: 0.1rem;"/>
    </div>
    <div class="section-content w-100 my-4">
        <div class="d-flex rounded border bg-light p-2 mb-4">
            <div class="d-flex justify-content-center" style="width: 15rem; height: 10rem;">
                <img src="../../../assets/img/projects/project-3.png" class="rounded border text-muted" style="max-width: 15rem; max-height: 10rem;" />
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-center px-2">
                <div class="fs-5 fw-bold">Portfolio #YoProgramo</div>
                <div class="flex-grow-1 my-2">Portflio desarrollado como trabajo integrador del curso #YoProgramo dictado por Argentina Programa.</div>
                <div>
                    <a href="https://github.com/hgalarze/portfolio" target="_blank" class="text-primary">
                        <fa-icon [icon]="['fab', 'github']" class="me-1"></fa-icon>
                        Github
                    </a>
                </div>
                <div class="fw-bold align-self-end">2022</div>
            </div>
        </div>
        <div class="d-flex rounded border bg-light p-2 mb-4">
            <div class="d-flex justify-content-center" style="width: 15rem; height: 10rem;">
                <img src="../../../assets/img/projects/project-2.png" class="rounded border text-muted" style="max-width: 15rem; max-height: 10rem;" />
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-center px-2">
                <div class="fs-5 fw-bold">Sistema de Gestión de Biblioteca</div>
                <div class="flex-grow-1 my-2">Proyecto desarrollado como parte del trabajo final para la cursada de "Desarrollo de Software".</div>
                <div>
                    <a href="https://github.com/hgalarze/sistema-gestion-biblioteca" target="_blank" class="text-primary">
                        <fa-icon [icon]="['fab', 'github']" class="me-1"></fa-icon>
                        Github
                    </a>
                </div>
                <div class="fw-bold align-self-end">2012</div>
            </div>
        </div>
        <div class="d-flex rounded border bg-light p-2 mb-4">
            <div class="d-flex justify-content-center" style="width: 15rem; height: 10rem;">
                <img src="../../../assets/img/projects/project-1.png" class="rounded border text-muted" style="max-width: 15rem; max-height: 10rem;" />
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-center px-2">
                <div class="fs-5 fw-bold">Juego de Preguntas y Respuestas</div>
                <div class="flex-grow-1 my-2">Juego de trivia de preguntas y respuestas relacionadas a la programación orientada a objetos (POO).</div>
                <div>
                    <a href="https://github.com/hgalarze/juego-preguntas-respuestas" target="_blank" class="text-primary">
                        <fa-icon [icon]="['fab', 'github']" class="me-1"></fa-icon>
                        Github
                    </a>
                </div>
                <div class="fw-bold align-self-end">2011</div>
            </div>
        </div>
    </div>
</div>